
body{
    font-family: 'Montserrat', sans-serif;
    margin:0;
}

header, footer{
    background-color: blueviolet;
    color: antiquewhite;
    padding: 10px;
}

#wrapper {
    min-height: 100%;
    position: relative;
}
#container {
    overflow: hidden;
}
#content {
    background-color:aquamarine;
    padding: 10px;
}
header {
    height: 52px;
}

header a{
    float:right;
}
header div {
    width: 1000px;
    height: 52px;
    margin: 0 auto;
}


.answer-area{
    background-color:black;
    color: antiquewhite;
    padding: 10px;
}

ul{
    transform: rotate(180deg);
}

ul > li {
    transform: rotate(-180deg);
    list-style-type: none;
    padding: 10px;
}

b{
    font-size: 10px;
    text-transform: uppercase;
}

textarea{
    width:400px;
    height:50px;
    margin-bottom:5px;
    color:dimgrey;
    padding:5px;
}

.comment{
    padding:5px 20px 5px 20px;
    background-color: cadetblue;
    color:wheat;
    border-radius: 10px;
}

.comment p{
    color:aquamarine;
}